/* Material.io */
/* You can add global styles to this file, and also import other style files */

.mdc-typography {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}


.md-icon {
  font-family: 'Material Icons';
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 1;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  width: 24px;
  height: 24px;
  display: inline-block;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.capitalize {
  text-transform: capitalize;
}

.full-width {
  width: 100%;
}

.three-quarter-width {
  width: 70%;
}

.one-half-width {
  width: 45%;
}

.one-quarter-width {
  width: 20%;
}

.debug {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  clear: both;
  font-size: 14px;
  color: warn;
}

.debug h3 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.field-error-message {
  color: warn;
}

.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

