/* You can add global styles to this file, and also import other style files */
.container {
  padding: 0px 50px;
}

.mdc-typography {
  /*font-family: Monaco, "Lucida Console", sans-serif;*/
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.md-icon {
  font-family: 'Material Icons';
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 1;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  width: 24px;
  height: 24px;
  display: inline-block;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.banner {
  margin-bottom: 30px;
  text-align: center;
  padding: 20px 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}


.debug {
  padding-top: 30px;
  clear: both;
  font-size: 14px;
}

.debug h3 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.field-error-message {
  text-align: right;
  padding-right: 68px;
  font-size: 16px;
  color: #a10000;
}

.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*.ng-dirty.ng-invalid {*/
  /*border: 2px solid #ff2118;*/
/*}*/

/*.ng-touched.ng-invalid {*/
  /*border: 1px solid #cccccc !important;*/
/*}*/

form.ng-dirty.ng-invalid {
  border:none;
}

form.ng-touched.ng-invalid {
  border:none !important;
}
