<form class="address-form" autocomplete="off" novalidate >
  <fieldset>
    <legend>Address</legend>
    <div class="form-field">
      <label>Label:</label>
      <input/>
    </div>
    <div class="form-field">
      <label>Street 1:</label>
      <input/>
    </div>
    <div class="form-field">
      <label>Street 2:</label>
      <input/>
    </div>
    <div class="form-field">
      <label>PO Box:</label>
      <input/>
    </div>
    <div class="form-field">
      <label>City:</label>
      <input/>
    </div>
    <div class="form-field">
      <label>State:</label>
      <input/>
    </div>
    <div class="form-field">
      <label>Zip:</label>
      <input/>
    </div>
  </fieldset>
  <div class="form-field">
    <button class="address-button" type="submit" >Create Address</button>
  </div>
</form>

<div class="debug">
  {{ address | json }}
</div>
