<md-card>
  <md-card-title>{{title}}</md-card-title>
  <md-card-subtitle>{{subtitle}}</md-card-subtitle>
  <img md-card-image class="card-img-home" src="/assets/img/ripples.png"  />
  <md-card-content>
    <p>Images are powerful medicine for the soul and when we tend to and heal our bodies
      our minds become clear.</p>
    <p>A quote from the image on the drum.</p>
    <blockquote>
      "The things we do during our life ripples through eternity."
      <cite>Sonya Holy Eagle</cite>
    </blockquote>
  </md-card-content>
  <md-card-actions>
    <button md-button color="accent" routerLink="/classes" >CLASSES</button>
    <button md-button color="accent" routerLink="/person" >PEOPLE</button>
  </md-card-actions>
</md-card>

