
.person-form {
  max-width: 500px;
}

.person-full-width {
  width: 100%;
}

form textarea {
  width: 100%;
  resize: none;
}

.field-error-message {
  text-align: right;
  padding-right: 68px;
  font-size: 16px;
  color: #a10000;
}

form fieldset {
  margin-bottom: 20px;
  border-radius: 3px;
  border-color: rgba(0,0,0,0.5);
}

form legend {
  border-radius: 4px;
  color: rgba(0,0,0,.5);
}

form button {
  margin-left: 25px;
}

form button[type='submit'] {
  margin-left: 75px;
}
