<form [formGroup]="personForm" #pf="ngForm" autocomplete="off" novalidate >
  <fieldset>
    <legend>Enter/Edit</legend>
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <md-input-container class="full-width" color="accent" >
            <input mdInput formControlName="firstName" placeholder="First" >
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width" color="accent" >
            <input mdInput formControlName="lastName" placeholder="Last" >
          </md-input-container>
        </td>
      </tr>
    </table>

    <md-input-container class="full-width" color="accent" >
      <input mdInput formControlName="alias" placeholder="Alias">
    </md-input-container>

    <md-input-container class="full-width" color="accent" >
      <input mdInput formControlName="email" placeholder="Email">
    </md-input-container>

    <md-input-container class="full-width" color="accent" >
      <textarea mdInput formControlName="bio" placeholder="Bio" rows="5"></textarea>
    </md-input-container>

    <md-input-container class="full-width" color="accent" >
      <input mdInput formControlName="phone" placeholder="Phone">
    </md-input-container>

    <md-input-container class="full-width" color="accent" >
      <input mdInput type="url" formControlName="website" placeholder="Website">
    </md-input-container>

    <md-input-container class="full-width" color="accent" >
      <input mdInput type="url" formControlName="imageUrl" placeholder="Image Url">
    </md-input-container>

  </fieldset>
  <button md-button (click)="cancel()">CANCEL</button>
  <button md-button color="accent" (click)="save()" [disabled]="!pf.valid">SAVE</button>
</form>

<md-card class="debug">
  <md-card-title>
  Debug Person:
  </md-card-title>
  <md-card-content>
  {{ person | json }}
  </md-card-content>
</md-card>
