<h3 class="subheader">Class List
  <button class="menu-button" md-button color="accent" (click)="loadClasses()">REFRESH</button>
  <button class="menu-button" md-button color="accent" routerLink="/classes/create">CREATE</button>
</h3>

<md-card *ngFor="let c of classes$ | async" >
  <md-card-title>
    <md-icon>accessibility</md-icon>&nbsp;{{c.title}}
  </md-card-title>
  <md-card-subtitle>{{c.audience}}</md-card-subtitle>
  <md-card-content>
    <p>{{c.summary}}</p>
    <p>{{c.description}}</p>
    <p>{{c.tags}}</p>
  </md-card-content>

  <md-card-actions>
    <button md-button color="accent" (click)="openClass(c)">EDIT</button>
  </md-card-actions>
</md-card>
