<h3 class="subheader">Address List&nbsp;
  <button class="menu-button" md-button color="accent" (click)="create()">CREATE</button>
</h3>

<md-card *ngFor="let address of addresses">
  <md-card-header>
    <md-card-title class="capitalize">
        {{address.label}}
    </md-card-title>
  </md-card-header>
  <md-card-content>
    {{getAddress( address)}}
  </md-card-content>
  <md-card-actions>
    <button md-button color="accent" (click)="edit(address)" >EDIT</button>
  </md-card-actions>
</md-card>
